 @media (min-width: 600px) {
    .header {
        margin: 1px;
        padding:1px;
    }
    .menu {
        margin: 1px;
        padding:1px;  
        margin-top:120px;
    }
    .relleno {
        height:200px;
    }
    .contenido{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    } 
}   

@media (min-width: 800px) {
    .header {
        margin: 10px;
        padding:10px;
    }
    .menu {
        margin: 10px;
        padding:10px;  
        margin-top:159px;
    }
    .relleno {
        height:240px;
    }
    .contenido{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    } 
}   

@media (min-width: 1000px) {
    .header {
        margin: 10px;
        padding:10px;
    }
    .menu {
        margin: 10px;
        padding:10px;  
        margin-top:159px;
    }
    .relleno {
        height:240px;
    }
    .contenido{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    } 
    .ruta:hover{
        transition:  font-size 0.5s, background-color 0.5s;
        font-size: 23px;
        background-color: rgb(190, 153, 85);
    }
    a:hover{
        color:white;
    }
    .foto{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}   
